<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="org.carat.plugin"
        version="1.0.0">
    <name>CaratPlugin</name>
    <license></license>
    <description>Carat Plugin</description>
    <keywords>carat,plugin,phonegap</keywords>

    <asset src="www/carat.js" target="js/carat.js"/>

    <js-module src="www/carat.js" name="Echo">
        <clobbers target="carat" />
    </js-module>

	<platform name="android">
        <config-file target="config.xml" parent="/*">
                <feature name="Echo">
                    <param name="android-package" value="org.carat.plugin.Echo"/>
                </feature>
        </config-file>

        <source-file src="src/org/carat/plugin/Echo.java" target-dir="org/carat/plugin/"/>
    </platform>
</plugin>