<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="org.carat.plugin"
        version="1.0.0">
    <name>CaratPlugin</name>
    <description>Carat Plugin</description>

    <!--<asset src="www/carat.js" target="js/carat.js"/>-->

    <js-module src="www/device.js" name="device">
        <clobbers target="device" />
    </js-module>

	<platform name="android">
    <config-file target="config.xml" parent="/*">
        <feature name="CaratPlugin">
            <param name="android-package" value="org.carat.plugin.Echo"/>
        </feature>
    </config-file>

</platform>
</plugin>